body {
    background-image: url("../images/burgers.jpg");
    background-repeat: repeat;
    background-size: 150px;
    line-height: 1.25em;
}

.container{
    background-color: orange;
    margin: 25px auto;
    font-weight: bold;
}

button {
    margin: 8px 5px 3px;
}

li {
    text-decoration: none;
}